@charset "utf-8";

/* ----------------------- *\
    Global
\* ------------------------*/

*{
	box-sizing: border-box;
	position: relative;
}

html,body{
	font-family: '微軟正黑體', arial;
}

h1,h2,h3,h4,h5,h6,p{
	margin: 0;
}

ul{
	padding: 0;
	margin: 0;
	list-style: none;
}

a{
	text-decoration: none;;
	color: #000;
}

/* ----------------------- *\
       Layout
\* ------------------------*/

.container{
	max-width: 1140px;
	width: 100%;
	margin: 0 auto;
	padding-left: 16px;
	padding-right: 16px;
}

.row{
	margin-left: -16px;
	margin-right: -16px;
}

.row:after{
	content: '';
	display: block;
	clear: both;
}

.col-lg-6,.col-lg-4,.col-lg-3,.col-lg-12,
.col-md-6,.col-md-4,.col-md-3,.col-md-12,
.col-sm-6,.col-sm-4,.col-sm-3,.col-sm-12{
	float: left;
	width: 33.333333%;
	padding-left: 16px;
	padding-right: 16px;

}

.col-lg-3{
	width: 25%;
}

.col-lg-4{
	width: 33.333333%;
}

.col-lg-6{
	width: 50%;
}

.col-lg-12{
	width: 100%;

}

@media screen and (max-width: 768px){
	.col-md-3{
	width: 25%;
}

	.col-md-4{
	width: 33.333333%;
}

	.col-md-6{
	width: 50%;
}

	.col-md-12{
	width: 100%;

}
}

@media screen and (max-width: 540px){
	.col-sm-3{
	width: 25%;
}

	.col-sm-4{
	width: 33.333333%;
}

	.col-sm-6{
	width: 50%;
}

	.col-sm-12{
	width: 100%;

}
}



/* ----------------------- *\
       Component
\* ------------------------*/

.btn{
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	line-height: 24px;
	border-radius: 5px;
	border: 1px solid #fff;
	padding: 4px 16px;
	color: #fff;
	z-index: 0;
}


.btn.btn-primary{
	background-color: #d5a26f;
	border: 1px solid #d5a26f;
	color: #fff;
}

.btn.btn-secondary{
	border: 1px solid #d5a26f;
	color: #d5a26f;
}
.btn.btn-lg{
	padding: 8px 32px;
}

.btn-group-center{
	text-align: center;
}

.btn-group-center .btn{
	margin: 0 12px;
}

@media screen and (max-width: 540px){
	.btn-group-center{
	  display: flex;
	  flex-direction:column;
	  width: 240px;
	  margin: 0 auto;
	}
	.btn-group-center .btn{
		margin-bottom: 24px;
	}

	.btn-group-center .btn:last-child{
		margin-bottom: 0;
	}
	
}

.image-container{
	width: 100%;
}

.image-container{
	content: "";
	display: block;
	width: 100%;
	padding-top: 75%;
	margin-bottom: 20px;

}
.image-container .image{
	position:absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-repeat: no-repeat;
	background-size: cover;

}

.image-container .profile{
	border: 2px solid #000;
	border-radius: 50%;
}

.mask{
	background-color: rgba(0,0,0,0.7);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	
}

.hero{
    padding-top: 50px ;
    padding-bottom: 50px;
}

@media screen and (max-width: 768px){
	.hero{
     padding-top: 80px ;
    padding-bottom: 80px;
	}
}

.hero.hero-bg-white{
	background-color: #fefefe;
}

.hero.hero-bg-grey{
	background-color: #efefef;
}

.navbar{
	border: 1px solid #333;
	height: 64px;
	background-color: rgba(0,0,0,0.8);
	position: fixed;
	z-index: 1;
	width: 100%;
	top: 0;
	left: 0;
}

.navbar .brand{
	display: inline-block;
	vertical-align: top;
	padding-top: 10px;
	border: :1px solid #000;
	width: 360px;
	height:64px ;
	color: #fff;

}


.navbar .nav{
	float: right;
}

.navbar .nav .nav-item{
	float: left;	
}

.navbar .nav .nav-link{
	display: block;
	line-height: 24px;
	padding: 20px 15px;
	color: #fff;
	transition: color 0.5s;
	
}

.navbar .nav .nav-link:hover{
	color: orange;
}

@media screen and (max-width: 768px){
	.navbar .nav{
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: #000;
		z-index: 2;
		display: flex;
		flex-direction: column;
		justify-content: center;
		opacity: 0;
		visibility: hidden;
		transition: all 0.3s;
	}

	.navbar .nav .nav-link{
		text-align: center;
		padding: 16px;
	}

	#popup-menu:target{
		opacity: 1;
		visibility: visible;
	}

}

.navbar .menu-toggle{
	display: none;
	width: 48px;
	height: 48px;
	display: inline-block;
	float: right;
	margin-top: 8px;
}

@media screen and (max-width: 768px){
	.navbar .menu-toggle{
		display: inline-block;
	}

	.navbar .menu-toggle span{
	display: block;
	width: 32px;
	height: 2px;
	background-color: #d5a26f;
	position: absolute;
	left: 50%;
	transform: translate(-50%,0);
	}

.navbar .menu-toggle span:nth-child(1){
  top: 12px;
	}

.navbar .menu-toggle span:nth-child(2){
	top: 22px;
	}
.navbar .menu-toggle span:nth-child(3){
	top: 32px;
	}
}
.navbar .close-btn{
	display: none;
	 width: 48px;
	 height: 48px;
	 position: absolute;
	 right: 16px;
	 top: 8px;
}

@media screen and (max-width: 768px){
	.navbar .close-btn{
		display: block;
	}

 .navbar .close-btn span{
	width: 40px;
	height: 2px;
	position: absolute;
	background-color: #d5a26f;
	top: 50%;
	left: 50%;
}

.navbar .close-btn span:nth-child(1){
	transform:translate(-50%,-50%) rotate(45deg);
}

.navbar .close-btn span:nth-child(2){
	transform:translate(-50%,-50%) rotate(-45deg);
}

}
.jumbotron{
	padding-top: 100px;
	padding-bottom: 160px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	z-index: 0;
}

@media screen and (max-width: 768px){
	.jumbotron{
		padding-top: 50px;
		padding-bottom: 80px;
	}
}

.jumbotron .logo{
	border: 2px solid #fff;
	width: 200px;
	height: 200px;
	border-radius: 50% ;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0 auto;
	z-index: 1;

}

@media screen and (max-width: 768px){
	.jumbotron .logo{
		width: 200px;
		height: 200px;
	}
}

@media screen and (max-width: 768px){
	.about-preview{
		margin-bottom: 48px;
	}
}

.about-preview .title{
	font-size: 32px;
	color: #333;
	margin-top: 24px;
	margin-bottom: 20px;
}

@media screen and (max-width: 768px){
	.about-preview .title{
		margin-top: 0;
	}
}

.about-preview .desc{
	font-size: 16px;
	line-height: 32px;
	color: #333;
	margin-bottom: 24px;
	text-align: justify;
}

.section-intro{
	text-align: center;
	margin-bottom: 40px;
}

.section-intro .title{
	font-size: 48px;
	color: #333;
	margin-bottom: 24px;
}

@media screen and (max-width: 768px){
	.section-intro .title{
		font-size: 32px;
	}
}

.section-intro ul{
	text-align: left;
}

.section-intro li{
	font-size: 16px;
	line-height: 24px;
	color: #fff;
	max-width: 480px;
	margin: 10px auto;
}

@media screen and (max-width: 768px){
	.service-item{
		margin-bottom: 48px;
	}

  [class^="col-"]:last-child .service-item{
  	margin-bottom: 0;
  }
	
}

.service-item .preview{
	padding-top: 16px;
}

.service-item .title{
	font-size: 24px;
	color: #333;
	margin-bottom: 8px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.service-item .subtitle{
	font-size: 14px;
	color: #d5a26f;
	margin-bottom: 16px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.service-item .desc{
	font-size: 16px;
	color: #333;
	line-height: 24px;
	margin-bottom: 24px;
	text-align: justify;
	height: 110px;
}

.reservation{
	background-image: url('https://upload.cc/i1/2022/03/07/ntPAEU.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

.reservation .section-intro .title,
.reservation .section-intro .desc{
	color: #fff;
}


/*第一組menu-list往下推間距*/
.menu-list{
	margin-bottom: 64px;
}

/*最後一組menu-list取消margin-bottom*/
.menu-list:last-child{
	margin-bottom: 0;
}

.menu-list .title-bar{
  margin-bottom: 24px;
}

.menu-list .title-bar:after {
  content: "";
  display: block;
  clear: both;
}

.menu-list .title-bar .title{
  font-size: 24px;
  line-height: 40px;
  color: #d5a26f;
  float: left;
  padding-left: 16px;
}

.menu-list .title-bar .title:before{
 content: "";
 display: inline-block;
 width: 5px;
 height: 25px;
 background-color: #d5a26f;
 position: absolute;
 top: 50%;
 left: 0;
 transform: translate(0, -50%);
}

.menu-list .title-bar .btn{
  float: right;
  padding-top: 8px;
  padding-bottom: 8px;
}

.media screen and (max-width: 768px){
	.menu-list .list-item{
		margin-bottom: 48px;
	}
}

.menu-list .list-item .image-container:before{
  padding-top: 100%;
}

.menu-list .list-item .title{
	font-size: 18px;
	color: #333;
	line-height: 24px;
	margin-top: 16px;
	margin-bottom: 8px;
	overflow: hidden;
	text-overflow: ellipsis;
}


.menu-list .list-item .subtitle{
	font-size: 14px;
	color: #5a26f;
	overflow: hidden;
	text-overflow: ellipsis;
}

.brand h1{
	font-family:"Sofia", sans-serif;
}





